<header>
  <h1>Welcome Back, {{ user }}</h1>
  <p>Here's a summary of the student data</p>
</header>

<div class="card-container">
  <div class="card">
    <div class="card-icon"><i class="fa-solid fa-users-line"></i></div>
    <div class="card-info">
      <h3>{{ students_number }}</h3>
      <p>No of students</p>
    </div>
  </div>
  {% if students_number != 0 and total_grade != 0 %}
    <div class="card">
    <div class="card-icon"><i class="fa fa-area-chart" aria-hidden="true"></i></i></div>
    <div class="card-info">
      <h3>{{ students_number/total_grade }}</h3>
      <p>Average score for students</p>
    </div>
  </div>
  {% endif %}
</div>