<div class="logo">
    <i class="fas fa-school"></i>
    <a href="{{ url_for('login') }}"></a>
  </div>
  <nav class="menu">
    <ul>
      <li class="active">
        <a data-url="{{ url_for('home') }}">
          <i class="fas fa-dashboard"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a data-url="{{ url_for('students') }}">
          <i class="fas fa-user-graduate"></i>
          <span>Add student</span>
        </a>
      </li>
      <li>
        <a data-url="{{ url_for('edit_students') }}">
          <i class="fa-solid fa-book-open"></i>
          <span>Record Grades</span>
        </a>
      </li>
      <li>
        <a data-url="{{ url_for('chat') }}">
          <i class="fa-solid fa-robot"></i>
          <span>Teacher Helper</span>
        </a>
      </li>
    </ul>
  </nav>
  <div class="profile">
    <div class="user-info">
      <h3>{{ current_user.name}}</h3>            
      <p>Teacher</p>
    </div>
  </div>