<style>
  #content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  form {
    background: var(--white);
    padding: 3em;
    height: 300px;
    border-radius: 20px;
    border-left: 1px solid var(--white);
    border-top: 1px solid var(--white);
    backdrop-filter: blur(10px);
    text-align: center;
    position: relative;
    transition: all 0.2s ease-in-out;
    left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-width: 1px; /* Sets a 1px border on all sides */
    border-style: solid; /* Required for border-width to be visible */
    border-color: #ccc; /* Sets the border color */
    border-bottom: 30px;
  }
  
  form input {
  background: whitesmoke;
  width: 200px;
  padding: 1em;
  margin-bottom: 2em;
  border: none;
  border-left: 1px solid var(--white);
  border-top: 1px solid var(--white);
  border-radius: 5000px;
  box-shadow: 4px 4px 60px rgba(0,0,0,0.2);
  color: black;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

  form p{
  margin-bottom: 40px;
}

  input[type="submit"] {
    background: hsl(198, 92%, 51%);
    color: var(--white);
    cursor: pointer;
    font-weight: 600;
    box-shadow: 4px 4px 60px rgba(0,0,0,0.3);
  }

  input[type="submit"]:hover {
    background: hsl(198, 92%, 70%);

  }
</style>

<div class="container">
<form method="post" action="{{ url_for('students') }}">
    <p>Add Student</p>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <input name="name" type="text" placeholder="Student Name"><br>
    <input name="age" type="text" placeholder="Student Age"><br>
    <input type="submit" value="Add Student" class="b"><br>
</form>

<div class="drops">
    <div class="drop drop-1"></div>
    <div class="drop drop-2"></div>
    <div class="drop drop-3"></div>
    <div class="drop drop-4"></div>
    <div class="drop drop-5"></div>
</div>
</div>